<header>
  <app-navbar></app-navbar>
</header>
<div class="container-fluid contentHome">
  <div class="row">
    <div class="col-6">
      <img src="../../assets/salesman.png" alt="salesman.png">
    </div>
    <div class="col-6 contentRight">
      <mat-card class="cardTop">
        <mat-card-content class="body-1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit
          amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </mat-card-content>
      </mat-card>

      <div class="row">
        <div class="col-6">
          <mat-card>
            <mat-card-content class="body-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6">
          <img class="rightPhoto" src="../../assets/salesman.png" alt="">
        </div>
      </div>

    </div>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>
