.contentHome {
    img {
        width: 500px;
        height: 80vh;
        margin: 30px 30px;
    }
    .contentRight {
        margin: 50px 0px;
        .cardTop {
            margin: 10px 0px;
        }
        .rightPhoto {
            width: 200px;
            height: 170px;
            margin: 0px;
        }
    }
}