<!-- <header>
  <app-navbar></app-navbar>
</header> -->
<div class="container-fluid contentHome">
  <div class="row">
    <div class="col-6">
      <img src="../../assets/salesman.png" alt="salesman.png">
    </div>
    <div class="col-6 contentRight">
      <mat-card class="cardTop">
        <mat-card-content class="body-1">
          <h2>Mimi Affiliate Dapat Membantu Promosi Barang untuk Meningkatkan Penjualan Anda . Serta Memberikan Passive Income bagi Promoter yang Menggunakan Aplikasi ini.</h2>
        </mat-card-content>
      </mat-card>

      <div class="row">
        <div class="col-6">
          <!-- <mat-card> -->
            <!-- <mat-card-content class="body-1"> -->
              <h3>Ingin Bergabung?</h3>
              <button mat-raised-button color="primary">Join Sekarang!</button>
            <!-- </mat-card-content> -->
          <!-- </mat-card> -->
        </div>
        <div class="col-6">
          <img class="rightPhoto" src="../../assets/salesman.png" alt="">
        </div>
      </div>

    </div>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>
