

<div class="container dialog">

  <div class="header-dialog background-detail">
    <h2>Link Sukses Dibuat</h2>
    <h4>* Link dapat dilihat kembali di halaman <a href="#">Referral Link</a></h4>
  </div>

  <div class="bottom-dialog">

        <div class="link background-detail" fxFlex fxLayout="row" fxLayoutAlign="start center">
         <span>mimi-affiliate.com/1000/toletole/XRYI12895JNDB</span>
        </div>

        <div class="copy-btn">
          <button mat-stroked-button class="background-detail">
            <mat-icon>
              content_copy
            </mat-icon>
          </button>
        </div>


  </div>

</div>
