.container-fluid {
  overflow: hidden;

  .search-box {
    padding: 13px;
    background: #C4C4C4;
    border-radius: 20px;
    margin: 15px 0px 0px 0px;
  }

  .content-box {
    margin: 15px 0px 0px 20px;
    // width: 980px;
    // height: 618px;
    background: #C4C4C4;
    border-radius: 20px;
    // box-sizing: inherit;

    #search-box {
      display: flex;
      justify-content: center;
      padding-top: 24px;

      .search-wrapper {
        width: 560px;
        border-radius: 28px;
        overflow: hidden;
        background-color: #ffffff !important;
        border: solid 0.5px;
        border-color: rgba(0, 0, 0, 0.12) !important;

        // @include mat-elevation(1);
        // @include media-breakpoint('xs') {
        //     width: 100%;
        // }
        .search {
          width: 100%;
          height: 48px;
          line-height: 48px;
          padding: 0 18px;

          input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            padding: 0 16px;
            border: none;
            outline: none;
          }
        }
      }
    }

    .main-search {
      // display: flex;
      // overflow: auto;
      // flex-direction: column;
      // align-items: center;
      padding: 12px 0px;
      display: contents;
      // height: inherit;

      .main-search-wrapper{
        display: flex;
      overflow: auto;
      flex-direction: column;
      align-items: center;
      max-height: 487px;
      }

      .search-card {
        min-width: 640px;
        min-height: 230px;
        background: #FFFFFF;
        border-radius: 20px;
        margin: 20px;
      }

      .search-container{
        padding: 5px;
      }

      .card-img  {
        width: 120px;
        height: 120px;
        border-radius: 20px;
      }

      .card-detail{
        .title{
          font-size: x-large;
        }

        .detail{
          display: flex;
          flex-direction: column;
          padding-top: 5px;
          .detail-box{
            display: inline-flex;
            padding-bottom: 5px;
            .wrapper{
              display: inline-flex;
            }
            .left{
              display: inline-flex;
              padding-right: 35px;
            }
            .rigth{
              display: inline-flex;
            }
          }
        }
      }

      .card-bottom{
        padding-top: 18px;
      }
    }
  }

  .mat-slider-horizontal {
    min-width: 200px;
  }
}
