<div class="container-fluid">
  <div fxLayout="row" fxFill>
    <div class="column" fxFlex="20">
      <div class="search-box">
        <div class="search-content" fxLayout="column" fxLayoutGap="5">


          <!-- <mat-form-field appearance="fill">
          <mat-label>Kecamatan</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field> -->
          <!-- <mat-form-field appearance="fill">
          <mat-label>Kota</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field> -->
          <!-- <mat-form-field appearance="fill">
          <mat-label>Provinsi</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field> -->
          <mat-form-field appearance="fill">
            <mat-label>Item Type</mat-label>
            <mat-select [(ngModel)]="typeSales" (ngModelChange)="searchOnChange()">
              <mat-option *ngFor="let type of listType" value="{{ type.name }}">{{
              type.name
            }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="slider-box">
            <mat-slide-toggle [checked]="toggleCommissionStatus" color="primary" (toggleChange)="toggleCommission()" >Toggle Commission</mat-slide-toggle>
          </div>
          <ng-container *ngIf="toggleCommissionStatus">
            <div class="slider-box">
              Commission with
              <br>
              <mat-radio-group color="primary" [(ngModel)]="commissionStatus"
                (change)="changeStatus()" aria-label="Select an option">
                <mat-radio-button [value]="1">Rp.</mat-radio-button>
                <mat-radio-button [value]="2">%</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="slider-box">
              Commision Range: {{sliderCommission}}
              <ng-container *ngIf="commissionStatus == 1;else status2">
                <mat-slider color="primary" (change)="searchOnChange()" thumbLabel
                  [displayWith]="formatLabelKomisi" tickInterval="1000" min="0" max="1000000"
                  [(ngModel)]="sliderCommission"></mat-slider>
              </ng-container>
              <ng-template #status2>
                <mat-slider color="primary" (change)="searchOnChange()" thumbLabel
                  [displayWith]="formatLabelKomisiPercent" tickInterval="1" min="0" max="100"
                  [(ngModel)]="sliderCommission"></mat-slider>
              </ng-template>
            </div>
          </ng-container>
          <!-- <div class="slider-box">
          Payout Range
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
        </div> -->
          <div class="slider-box">
            Total Transaction: {{sliderTransaction}}
            <mat-slider color="primary" (change)="searchOnChange()" thumbLabel
              [displayWith]="formatLabelPenjualan" tickInterval="1" min="0" max="100" [(ngModel)]="sliderTransaction">
            </mat-slider>
          </div>
          <!-- <div class="slider-box">
          Total Penjual
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
        </div> -->
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="80">
      <div class="content-box" fxLayout="column">
        <div id="search-box">
          <div class="search-wrapper">
            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
              <input class="form-control" type="text" name="search" (keyup)="loadAdvanceFilter()" [(ngModel)]="search" #filter placeholder="Search" />
            </div>
          </div>
          <div class="example-button-container" style="margin-top: 5px; margin-left: 42px">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
              (click)="loadAdvanceFilter()">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>

        <div class="main-search">
          <div class="main-search-wrapper">
            <ng-container *ngFor="let item of listData">
              <div class="search-card">
                <div class="search-container">
                  <div class="row">
                    <div class="col-3">
                      <ng-container *ngIf="item.imageUrl != null && item.imageUrl != 'null' && item.imageUrl != 'URL';else IMAGENULL">
                        <img class="card-img" [src]="item.imageUrl" alt="" />
                      </ng-container>
                      <ng-template #IMAGENULL>
                        <img class="card-img" src="../../../../../assets/imageKosong.png" alt="" />
                      </ng-template>
                    </div>
                    <div class="col-9 card-detail">
                      <div class="title">
                        <span matTooltip="Item Name">{{ item.name }}</span>
                      </div>
                      <div class="detail">
                        <div class="detail-box">
                          <div class="wrapper" matTooltip="Description">
                            <mat-icon>description</mat-icon>
                            <span> {{ item.desc }}</span>
                          </div>
                        </div>
                        <div class="detail-box">
                          <div class="wrapper" matTooltip="Price">
                            <mat-icon>sell</mat-icon>
                            <span>Rp. {{ item.price  | number}}</span>
                          </div>
                        </div>
                        <div class="detail-box">
                          <div class="left" matTooltip="Total Transaction">
                            <mat-icon matTooltip>assessment</mat-icon>
                            <span> {{ item.totalTranscation }}</span>
                          </div>
                          <div class="rigth" matTooltip="Total Views">
                            <mat-icon>visibility</mat-icon>
                            <span> 20</span>
                          </div>
                        </div>
                        <div class="detail-box">
                          <div class="left" matTooltip="Commission">
                            <mat-icon>monetization_on</mat-icon>
                            <span *ngIf="item.commissionStat == 1">
                              Rp. {{ item.commision }}</span>
                            <span *ngIf="item.commissionStat == 2">
                              {{ item.commision }}%</span>
                          </div>
                          <div class="center" matTooltip="Recurring">
                            <mat-icon>history</mat-icon>
                            <span> {{item.recurring}}</span>
                          </div>
                          <div class="rigth" matTooltip="Duration">
                            <mat-icon>timelapse</mat-icon>
                            <span> {{item.durationDate | date}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-bottom">
                    <div class="row">
                      <div class="col-9">
                        <mat-chip-list>
                          <mat-chip color="primary" matTooltip="Item Type" selected>{{item.type}}</mat-chip>
                          <!-- <mat-chip color="accent" selected>Kembangan</mat-chip> -->
                          <!-- <mat-chip color="accent" selected>Jakarta Barat</mat-chip> -->
                          <!-- <mat-chip color="warn" selected>DKI Jakarta</mat-chip> -->
                        </mat-chip-list>
                      </div>
                      <div class="col-3">
                        <div class="promotion-button">
                          <button mat-flat-button color="primary" (click)="openDialogPromotion(item.id)">
                            Promotion
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div>
        <div class="pagination-wrapper w-100-p">
          <mat-paginator [pageIndex]="page" [pageSize]="10" [length]="totalElements"  (page)="changePage($event)"></mat-paginator>
        </div>
      </div>
    </div>

  </div>
</div>
