<div class="wrapper">
  <header>
    <app-navbar *ngIf="!isDisabled"></app-navbar>
    <mat-toolbar *ngIf="isDisabled" color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>
  </header>

  <div class="content-wrapper">
    <mat-sidenav-container class="example-sidenav-container" style="min-height: 100%" [hasBackdrop]="false">
      <mat-sidenav *ngIf="isDisabled" #snav fixedTopGap="56" [disableClose]="true">
        <mat-nav-list>
          <a mat-list-item routerLink="." *ngFor="let nav of ELEMENT">{{ nav }}</a>
        </mat-nav-list>
      </mat-sidenav>
      <body>
        <app-content></app-content>
      </body>
    </mat-sidenav-container>
  </div>
</div>
