<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" *ngIf="isUser" fixedTopGap="56" [disableClose]="true">
    <mat-nav-list>
      <a mat-list-item [routerLink]="[nav.route]" routerLinkActive="router-link-active"
        *ngFor="let nav of ELEMENT">{{ nav.name }}</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="wrapper" style="min-height: 100vh;">
      <header>
        <app-navbar *ngIf="!isUser"></app-navbar>
        <mat-toolbar *ngIf="isUser" color="primary" class="mat-elevation-z1">

              <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
              </button>

              <h1 class="example-app-name">Mimi Affiliate</h1>



              <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <!-- <img class="avatar" src="assets/images/avatars/profile.jpg"> -->
                  <mat-icon class="s-30" style="color: #FFC72C;">account_circle</mat-icon>
                  <span class="username mr-12" fxHide fxShow.gt-sm>Guest</span>
                  <mat-icon class="s-20">arrow_drop_down</mat-icon>
                </div>
              </button>

              <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item (click)="composeDialog()">
                  <mat-icon>account_circle</mat-icon>
                  <span>My Profile</span>
                </button>

                <button mat-menu-item class="" (click)="onLogout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Log Out</span>
                </button>

              </mat-menu>

        </mat-toolbar>
      </header>
      <div class="content-wrapper">

        <body>
          <app-content></app-content>
        </body>

      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
