

<div class="container-fluid" style="display: flex;justify-content: center;">

  <div class="content-box">

    <div class="commission-box">
      <div class="chart-line-container box">

      </div>
      <div class="table-commission-container box">

      </div>
      <div class="chart-block-container box">

      </div>
      <div class="table-merchant-container box">

      </div>
      <div class="saldo-container box">

      </div>
      <div class="btn-tarik-container box">

      </div>

    </div>


  </div>

</div>
