<div class="container edit-profile">

  <div class="profile-content">
    <div class="search-card">
      <div class="search-container">

        <div class="title">
          <span>Edit Profile</span>
        </div>

        <div class="row">

          <div class="col-3">
            <img class="card-img" src="../../../../../assets/imageKosong.png" alt="" />
          </div>

          <div class="col-9 card-detail">


            <div class="detail">

              <div class="detail-box">
                <mat-form-field appearance="fill">
                  <mat-label>Nama Promoter</mat-label>
                  <input matInput  type="text" value="Arsati Ichwan Ramadhan" />
                </mat-form-field>
              </div>
              <div class="detail-box">
                <mat-form-field appearance="fill" aria-disabled="true">
                  <mat-label>Email</mat-label>
                  <input matInput  type="email" value="jack@gmail.com" />
                </mat-form-field>
              </div>
              <div class="detail-box">
                <mat-form-field appearance="fill">
                  <mat-label>Telephone</mat-label>
                  <input matInput  type="text" value="0984951678" />
                </mat-form-field>
              </div>
              <div class="detail-box">
                <label class="example-margin">Jenis Kelamin:</label>
                <mat-radio-group value="laki">
                  <mat-radio-button class="example-margin" value="laki">Laki-laki</mat-radio-button>
                  <mat-radio-button class="example-margin" value="perempuan">Perempuan</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="detail-box">
                <mat-form-field appearance="fill">
                  <mat-label>DOB</mat-label>
                  <input matInput  type="date" value="12/20/1999" />
                </mat-form-field>
              </div>

            </div>
          </div>
        </div>

        <div class="btn">
          <button mat-raised-button color="primary" disabled>Save</button>
        </div>

      </div>
    </div>
  </div>


</div>
